body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #cat-image-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #cat-image {
    width: 100%;
    height: auto;
  }
  
  #new-cat-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }